<h1>MutualMap</h1>
<h2>for the MakerSquare Holiday Party</h2>
<h4>See who you have Facebook mutual friends with!</h4>


<%= form_tag('/graph/welcome', remote: true) do %>
	<p>Telephone</p>
	<%= telephone_field(:user,:phone, id: 'phone-input') %>
	<br>
	<%= hidden_field_tag(:user, :facebook_token) %>
	<div><%= submit_tag 'Send to server', :style => "display:none", id:'hidden_submit'  %></div>
<% end %>
<button id="loginbutton">Sign-in with Facebook</button>


