<h1>mutualmap <span style="color:red">//</span> makersquare <span style="color:red">holiday party</span></h1>

<style>

h1 {
  text-align: center;
}

svg {
  background-color: #27ae60;
}

.link {
  /*stroke: #3B5998; facebook blue*/
  stroke: white;
  stroke-width: 1px;
}

.node text {
  pointer-events: none;
  font: 30px sans-serif;
}

.node image {
}

</style>
<body>

<script>


</script>