<h1>mutualmap <span style="color:red">//</span> <%= @graph.name %></h1>

<style>

h1 {
  text-align: center;
}

svg {
  background-color: #3498db;
}

.link {
  /*stroke: #3B5998; facebook blue*/
  stroke: white;
  stroke-width: 1px;
}

.node text {
  pointer-events: none;
  font: 30px sans-serif;
}

.node image {
}

</style>
<body>

<% content_for :javascript do %>
	<script type="text/javascript">
		createGraph();
    // start();
	</script>
<% end %>
